*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.shipping-banner {
    background-color: #000;
    border-bottom: 1px solid #333;
    height: 40px;
    transition: background-color  .1s ease;
  }

  .grey {
  color: grey;
  transition: color 0.3s ease;
  cursor: pointer;
}

.grey:hover {
  color: white;
}
